body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
.parallax {
	background-image: url(https://images.alphacoders.com/116/1169553.jpg);
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2em;
	text-shadow: 2px 2px 4px black
}
.block {
	background: black;
	color: white;
	min-height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
}
.parallax2 {
	background-image: url(https://cdn.wallpapersafari.com/0/63/kaO8yN.jpg);
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2em;
	text-shadow: 2px 2px 4px black
}